@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


button {
    width: 86px;
    padding: 18px 10px;
    border-radius: 24px;
    flex: 1 0 auto;
    background-color: #191919;
    border: 0;
    font-size: 38px;
}

.clear,
.equal {
    width: 180px;
    flex: 2 0 auto;
}

.main-container {
    display: flex;
    width: 450px;
    flex-direction: column;
    row-gap: 8px;
    padding: 28px 24px;
    background-color: rgb(247, 247, 247);
    border-radius: 24px;
}

.display {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: end;
    border-radius: 24px;
    background-color: #191919;
    padding: 8px;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

body {
    margin: 100px 50px;
    display: flex;
    background-color: #191919;
    align-items:center;
    justify-content: center;
}

* {
    color: rgb(247, 247, 247);
    font-family: "Orbitron";
    font-size: 52px;
    font-weight: 700;
}

.digit {
    background-color: #191919;
}

.clear,
.backspace {
    background-color: rgb(255, 0, 0);
}

.equal,
.operator {
    background-color: rgb(0, 179, 255);
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.9;
}

button[selected] {
    background-color: rgb(23, 128, 177);
}