button {
    padding: 6px 10px;
    border-radius: 14px;
}

.main-container {
    display: flex;
    width: 300px;
    flex-direction: column;
}

.display {
    height: 50px;
    font-size: 40px;
}

.buttons-container {

}


* {
    border: 1px solid red;
}